/* 
Document   : global.css
Created on : 06.12.2013, 13:07:09
Author     : dominic
Description:
    Purpose of the stylesheet follows.
*/


html, body {
    /*background-color: #eee;*/
    background-color: #E5E5E5;
    /*background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #BDBDBD 100%);*/
    /*background-repeat: repeat-x;*/
    height: 100%;
}
#header {
    /*background-color: lightblue;*/
}
.container{
    /*background-color: lightblue;*/

    -moz-box-shadow:    0px 0px 6px 6px #ccc;
    -webkit-box-shadow: 0px 0px 6px 6px #ccc;
    box-shadow:         0px 0px 6px 6px #ccc;
}

.content {
    margin-top:20px;
    /*min-height: 100%;*/

}

.main_content{
    width: 100%;
    height: 100%;
    min-height: 100%;
    display:block;

}

.head_title{
    color: #999999;
}

.fill{
    height:100%;
    background-color:white;
    min-height: 100%;
}


.hover_ul{
    display: block;       
    width: 100%;
    position: relative;  
    height:0px; 
}

.hover_li{
    display: block; 
    width: 100%;
}

.navigation {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 5px;  

    width:100%;
    table-layout: fixed;
    display:table;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navigation ul {

    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 100;
}

.navigation > li {
    display:table-cell;
    text-align:center;
    /*height:52px;*/ 

}

.navigation li {
    border-right: #D5D5D5 solid 1px;
}

.dropdown li{
    border-right: none;
}

.dropdown {
    display: none; 
} 

.navigation li > a{
    padding: 10px 15px;
    display:block;
    color: #777777;
    background-color: #E5E5E5;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #E5E5E5 100%);
    background-repeat: repeat-x;

}

.dropdown.active.submenu > a, li.active > a{
    background-color: #DDDDDD;
    background-image: none;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15) inset;    
}

/*
         Hiding the submenus by default */

/*.navigation li:hover ul {
    display: block;         Show submenus on mouseover... 
    width: 100%;
    position: relative;     ...and make them appear below, not inside 
    height:0px;  Kind of a hack, but it's for a good reason (remove it to see why) 
}

.navigation  li:hover ul li {
    display: block;  Make submenu items stack vertically 
    width: 100%;   100% of parent container 
}*/
/*
 Navigation Ende
*/


/*
    Maxim Start
*/
#maxim_table .maxim_table_edit_column, .maxim_table_delete_column, .patient_edit_table_column, .contactpoint_edit_table_column{
    text-align:center;
}

#maxim_table tbody tr{
    height:70px;
}

/*
    Maxim Ende
*/


/*
edit-maxim Start
*/

#patient_has_maxims{
    width:100%;
}

/*
edit-maxim Ende
*/

/*
Patienten auflisten Start
url: patient/list
*/
#patient_edit_table .btnStatus {
    width:145px;
    
}

/*
Patienten auflisten Ende
*/

/*
Patient Anlegen Formular Start
*/

#patient_form dt {
    float:left;
    clear:left;
    width:120px;
}

#patient_form dd {
    float:left;
    width:200px;
}

/*
Patient Anlegen Formular Ende
*/

/*
Emergency-Case Start
*/
#risikosituation_stop{
    border: solid black 1px;
    text-align: center;
}

#fieldset-safety_thoughts legend, #fieldset-safety_actions legend{
    margin-bottom: 5px;
}

#fieldset-safety_thoughts p, #fieldset-safety_actions p{
    font-size: 12px;
}

#fieldset-risiko{

}
/*
Emergency-Case Ende
*/

/* Tooltip start */

.tooltip-inner{
    text-align:left;
    margin:0px;
    padding:0px;
}
.tooltip-inner li{
    /*list-style: none;*/
}
.tooltip-inner ul{
    margin:0px;
    padding:10px 10px 10px 20px;
}
/* Tooltip ende */