<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hawlandshut.rueckfallprophylaxe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.hawlandshut.rueckfallprophylaxe.Startseite"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.hawlandshut.rueckfallprophylaxe.DiaryActivity"
            android:label="@string/title_activity_diary"
            android:parentActivityName="de.hawlandshut.rueckfallprophylaxe.Startseite" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hawlandshut.rueckfallprophylaxe.Startseite" />
        </activity>
        <activity
            android:name="de.hawlandshut.rueckfallprophylaxe.NewEntryActivity"
            android:label="@string/title_activity_new_entry"
            android:parentActivityName="de.hawlandshut.rueckfallprophylaxe.DiaryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hawlandshut.rueckfallprophylaxe.DiaryActivity" />
        </activity>
        <activity
            android:name="de.hawlandshut.rueckfallprophylaxe.ContactpointListActivity"
            android:label="@string/title_activity_contactpoint_list"
            android:parentActivityName="de.hawlandshut.rueckfallprophylaxe.ContactpointListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hawlandshut.rueckfallprophylaxe.ContactpointListActivity" />
        </activity>
         <activity
            android:name="de.hawlandshut.rueckfallprophylaxe.ContactpointMActapivity"
            android:label="@string/title_activity_contactpoint_map"
            android:parentActivityName="de.hawlandshut.rueckfallprophylaxe.ContactpointMapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hawlandshut.rueckfallprophylaxe.ContactpointMapActivity" />
        </activity>
    </application>

</manifest>
