<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hawlandshut.rueckfallprophylaxe.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
 
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
 
    <!-- Required OpenGL ES 2.0. for Maps V2 -->
   	<uses-feature
       	android:glEsVersion="0x00020000"
       	android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/red_light"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="PinShare">
        
        <activity 
            android:name="de.hawlandshut.rueckfallprophylaxe.ui.TrafficLightActivity">
        </activity>
		<activity 
		    android:name="de.hawlandshut.rueckfallprophylaxe.ui.BetwixtActivity"
            android:label="@string/app_name"
            android:parentActivityName="de.hawlandshut.rueckfallprophylaxe.ui.TrafficLightActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hawlandshut.rueckfallprophylaxe.ui.TrafficLightActivity" />
		</activity>
        <activity
            android:name="de.hawlandshut.rueckfallprophylaxe.ui.HomeActivity"
            android:label="@string/app_name"
            android:parentActivityName="de.hawlandshut.rueckfallprophylaxe.ui.TrafficLightActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hawlandshut.rueckfallprophylaxe.ui.TrafficLightActivity" />
        </activity>
        <activity
            android:name="de.hawlandshut.rueckfallprophylaxe.ui.PasswordDetermineActivity"
            android:label="@string/title_password_determine" >
        
        </activity>
        <activity
            android:name="de.hawlandshut.rueckfallprophylaxe.ui.PasswordVerifyActivity"
            android:label="@string/title_password_verify" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.hawlandshut.rueckfallprophylaxe.ui.DiaryEntryListActivity"
            android:label="@string/title_activity_diary"
            android:parentActivityName="de.hawlandshut.rueckfallprophylaxe.ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hawlandshut.rueckfallprophylaxe.ui.HomeActivity" />
        </activity>
        <activity
            android:name="de.hawlandshut.rueckfallprophylaxe.ui.DiaryNewEntryActivity"
            android:label="@string/title_activity_new_entry"
            android:parentActivityName="de.hawlandshut.rueckfallprophylaxe.ui.DiaryEntryListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hawlandshut.rueckfallprophylaxe.ui.DiaryActivity" />
        </activity>
        <activity
            android:name="de.hawlandshut.rueckfallprophylaxe.ui.ContactpointListActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_contactpoint_list"
            android:parentActivityName="de.hawlandshut.rueckfallprophylaxe.ui.HomeActivity" >
            <intent-filter >
	         <action android:name="android.intent.action.SEARCH" />
	      </intent-filter>
          <intent-filter >
	         <action android:name="android.intent.action.VIEW" />
	      </intent-filter>
  	      <meta-data
             android:name="android.app.searchable"
             android:resource="@xml/searchable" />
       	  <meta-data
			android:name="android.support.PARENT_ACTIVITY"
            android:value="de.hawlandshut.rueckfallprophylaxe.ui.HomeActivity" />
        </activity>
        <activity
            android:name="de.hawlandshut.rueckfallprophylaxe.ui.ContactpointMapActivity"
            android:label="@string/title_activity_contactpoint_map"
            android:parentActivityName="de.hawlandshut.rueckfallprophylaxe.ui.ContactpointListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hawlandshut.rueckfallprophylaxe.ui.ContactpointListActivity" />
        </activity>
        <activity
            android:name="de.hawlandshut.rueckfallprophylaxe.ui.EmotionActivity"
            android:label="@string/title_activity_emotion"
            android:parentActivityName="de.hawlandshut.rueckfallprophylaxe.ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hawlandshut.rueckfallprophylaxe.ui.Startseite" /> 
        </activity>
        <activity
            android:name="de.hawlandshut.rueckfallprophylaxe.ui.DistractionActivity"
            android:label="@string/title_activity_distraction"
            android:parentActivityName="de.hawlandshut.rueckfallprophylaxe.ui.EmotionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hawlandshut.rueckfallprophylaxe.ui.EmotionActivity" />
        </activity>
        <activity android:name="EmergencyCaseActivity"
            android:parentActivityName="de.hawlandshut.rueckfallprophylaxe.ui.HomeActivity"
            android:label="@string/title_activity_koffer">
        </activity>
        <activity android:name="EmergencyCaseTwoActivity"
            android:parentActivityName="de.hawlandshut.rueckfallprophylaxe.ui."
            android:label="@string/title_activity_koffer2">
        </activity>
        <activity android:name="EmergencyCaseThreeActivity"
            android:parentActivityName="de.hawlandshut.rueckfallprophylaxe.ui."
            android:label="@string/title_activity_koffer3">
        </activity>
        <activity android:name="de.hawlandshut.rueckfallprophylaxe.ui.ContactpointViewActivity"
            android:parentActivityName="de.hawlandshut.rueckfallprophylaxe.ui.ContactpointList"
            android:label="@string/title_contactpoint_view" >
        </activity>
        <meta-data
   			android:name="com.google.android.gms.version"
    		android:value="@integer/google_play_services_version" />
        
		 <!-- Goolge Maps API Key -->
		<meta-data
     		android:name="com.google.android.maps.v2.API_KEY"
     		android:value="AIzaSyAZvUzAQR5yiFEQW6Hb7VrmIIYJDxkRG7M" />
    </application>
</manifest>
